html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    }
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1 {
    margin: 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
.key-wrap {
    padding: 30px 0;
}
.key-words {
    text-align: center;
    display: block;
    margin: 0;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.26em;
}
sup {
    top: -.49em;
}
img {
    border-style: none;
    border-radius: 15px;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 99%;
    line-height: 1.14;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: .34em .75em .625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@font-face {
    font-family: geometria;
    src: url(../fonts/Geometria.ttf);
    font-weight: 400;
}
@font-face {
    font-family: geometria-medium;
    src: url(../fonts/Geometria-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: geometria-bold;
    src: url(../fonts/Geometria-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: geometria-extrabold;
    src: url(../fonts/Geometria-ExtraBold.ttf);
    font-weight: 800;
}
.container {
    margin: 0 auto;
    padding: 50px;
}
* {
    box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
body {
    font-family: geometria, sans-serif;
    font-weight: 400;
    background: #0e0b14;
    color: #fdfbfe;
    position: relative;
    overflow-x: hidden;
    font-size: 25px;
}
.modal-menu {
    background: #000228;
    width: 100vw;
    padding: 20px 30px;
    display: none;
    justify-content: space-between;
    vertical-align: middle;
    left: 0;
    flex-wrap: wrap;
    top: 0px;
    position: fixed;
}

.modal-menu-item {
    padding: 15px 16px;
    display: block;
    border-radius: 45px;
    display: flex;
    align-items: center;
    color: #fdfbfe;
    font-size: 2vw;
    text-decoration: none;
    transition: display .3s linear, background .3s linear;
}

.modal-menu-item:hover {
    background: #1a2454;
}
.modal-menu-active {
    background: #00a3ff;
}


.modal-sign {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7eaf8;
    display: none;
    z-index: 99;
}

.modal-sign-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-sign-wrap::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}
.modal-sign-block {
    background: #fdfbfe;
    position: relative;

}
.modal-sign-close {
    z-index: 1000;
    position: absolute;
    /* top: -100px; */
    right: -100px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7eaf8;
}
.modal-sign-close:hover {
    cursor: pointer;
}
.modal-sign-close img {
    height: 29px;
    width: 29px;
}
.modal-sign-nav li {
    width: 50%;
    color: #000;
}
.modal-sign-nav {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.modal-sign-nav li {
    cursor: pointer;
    height: 100px;
    /* width: 340px; */
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7eaf8;
}

.header {
    /* padding: 15px 0; */
    background: #1a2454;
}
.header .container {
    height: 100%}
.header-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu {
    background: 0 0;
    font-size: 4vw;
    color: #fdfbfe;
    font-weight: 700;
    transition: .3s;
    display: flex;
    align-items: center;
}

.header-menu-close {
    width: 25px;
}

.header-menu-img {
    margin-left: 3vw;
    height: 4vw;
    width: 4vw;
}
.header-menu:hover {
    background: #2f344b;
    cursor: pointer;
}
.hero {
    padding: 138px 2vw;
    /* width: auto; */
    color: #fdfbfe;
    text-align: center;
    background: url(../img/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 23% center;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-bg {
    background-color: rgba(0, 0, 0, 1);
}

.hero-title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 4vw;
    font-family: geometria-extrabold, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.hero-subtitle {
    margin: 0;
    margin-bottom: 74px;
    font-size: 3vw;
    font-weight: 400;
}
.soon {
    padding: 15px 0;
    background: #1a2454;
}
.hero-btn {
    margin: 10px auto;
    padding: 2vw 7vw;
    border-radius: 45px;
    font-size: 5vw;
    font-family: geometria-bold, sans-serif;
    font-weight: 700;
    transition: .3s;
}
.free-wrap {
    padding: 25px 0;
    background: #000228;
}
.free-wrap h1 {
    margin: 0;
    font-family: geometria-extrabold, sans-serif;
    font-weight: 800;
    font-size: 22px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
}
.subtitle {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.hero-btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.hero-btn__signup {
    /* margin-right: 60px; */
    color: #fdfbfe;
    background: linear-gradient(180deg, #41c6ff 0%, #004fc7 100%);
    box-shadow: 0 0 50px rgba(0, 163, 255, .5);
}
.text-info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.os-wrap ul {
    display: flex;
    padding: 0;
}
.os-wrap li {
    list-style: none;
    margin-right: 10px;
}
.os-wrap li:last-child {
    margin-right: 0;
}
.os-wrap img {
    height: 25px;
    width: auto;
}
.text-info-block h1, .text-info-block p {
    text-align: left;
    padding: 0;
}
.text-info-block h1 {
    font-size: 17px;
}
.text-info-block .subtitle {
    font-size: 14px;
}
.disclaim {
    background: #1a2454;
    padding: 50px 0;
}
.hero-btn__login {
    background: #fdfbfe;
    border: 1px solid #2b2727;
}
.site-info {
    color: #fdfbfe;
    text-align: center;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-block__text {
    margin: 0 auto;
    padding: 30px 0;
}
.text-block__text a {
    word-break: break-all;
}
.soon-title {
    text-align: center;
    font-family: geometria-extrabold, sans-serif;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 50px;
}
.soon-games-block {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.soon-games-card {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    transition: .3s;
}
.soon-games-card:hover {
    transform: translateY(-5px);
}
.soon-games__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    object-fit: cover;
}
.soon-games__name {
    color: #fdfbfe;
    text-decoration: none;
}
.footer-block {
    display: flex;
    flex-wrap: wrap;
}
.footer-link {
    color: #fdfbfe;
    transition: .3s;
}
.footer-link:hover {
    color: #00a3ff;
}
.footer-links {
    flex-basis: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.footer-separator {
    font-size: 40px;
    margin: 0 30px;
}
.footer-scnd {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts {
    background: #171b2a;
    padding: 30px;
}
.contacts-block {
    /* padding: 4vw; */
    margin: 0 auto;
    /* width: 1072px; */
}
.contacts-item {
    margin-bottom: 2vh;
}
.contacts-item:last-child {
    margin-bottom: 80px;
}
.contacts__img {
    height: 4vw;
    width: 4vw;
    margin-right: 1vw;
}
.contacts__text {
    font-size: 3vw;
    color: #fdfbfe;
    text-decoration: none;
    transition: .3s;
}
.contacts__text:hover {
    color: #d65b02;
}
.contacts-map iframe {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    display: block;
}
.mission {
    background: #171b2a;
    padding: 80px 0;
}
.mission-block {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.mission-text {
    margin: 0 auto;
    /* flex-basis: 50%; */
    min-width: 260px;
}

.mission-img {
    margin: 0 auto;
    width: 50%
}

.play {
    /* padding: 50px; */
    background: #171b2b;
}
.play-block {
    padding: 90px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 100%;
    text-align: center;
}

.play-title {
    font-size: 3vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

.play-desc {
    font-size: 2vw;
}
.play-num {
    font-size: 4vw;
    margin-bottom: 20px;
}

.play-img {
    border-radius: 88px;
    width: 50%;
    height: auto;
}


label.error {
    font-size: 14px;
    margin-top: -10px;
    color: red;
}
.logo {
    display: block;
    width: 283px;
    height: auto;
}
.logo img {
    display: block;
    width: 100%;
    height: 100%;
    }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
    display: none;
}
.modal-game {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    display: none;
    z-index: 10;
}
.modal-game-wrap {
    width: 100%;
    padding: 20px 40px;
    background: #000;
    position: relative;
}
.modal-game .form-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-wrap input {
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.form-wrap button {
    border-radius: 20px;
    background: linear-gradient(180deg, #41c6ff 0%, #004fc7 100%);
    box-shadow: 0 0 50px rgb(0 163 255/50%);
    font-size: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    width: 200px;
}
.modal-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/svg+xml);
}
.modal-sign-nav li.active {
    background: #fdfbfe;
}
.modal-sign-up {
    position: relative;
}
.modal-sign-up-form {
    padding: 30px;
    display: flex;
    flex-flow: column;
}
.modal-sign-up-label {
    margin-bottom: 9px;
    font-size: 20px;
    color: #383333;
}
.modal-sign-up-input {
    /* margin: 0 auto; */
    width: 90%;
    height: 35px;
    border: 1px solid #383333;
    border-radius: 5px;
    padding: 0 27px;
    margin-bottom: 37px;
}
.modal-sign-up-check {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.modal-sign-up-accept {
    /* margin-top: 34px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #383333;
}
.modal-sign-up-accept label.error {
    position: absolute;
    bottom: -18px;
    left: 0;
}
.modal-sign-up-link {
    color: #000;
}
.modal-sign-up-btn {
    width: 293px;
    height: 84px;
    background: linear-gradient(180deg, #41c6ff 0%, #004fc7 100%);
    box-shadow: 0 0 50px rgb(0 163 255/50%);
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 34px;
    color: #fdfbfe;
    font-family: geometria-bold, sans-serif;
    font-weight: 700;
}
.modal-sign-up-success {
    display: none;
    position: fixed;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    z-index: 10;
}
.modal-sign-log {
    position: relative;
}
.modal-sign-log-form {
    padding: 30px;
    display: flex;
    flex-flow: column;
}
.modal-sign-log-label {
    margin-bottom: 15px;
    color: #2b2727;
}
.modal-sign-log-input {
    width: 80%;
    height: 35px;
    border: 1px solid #2b2727;
    border-radius: 5px;
    padding: 0 27px;
    margin-bottom: 15px;
}
.modal-sign-log-btn {
    width: 293px;
    height: 84px;
    background: linear-gradient(180deg, #41c6ff 0%, #004fc7 100%);
    box-shadow: 0 0 50px rgb(0 163 255/50%);
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 34px;
    color: #fdfbfe;
    font-family: geometria-bold, sans-serif;
    font-weight: 700;
}
.modal-sign-log-success {
    display: none;
    position: fixed;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    z-index: 10;
}
.modal-cookie {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    background: #fdfbfe;
    padding: 40px;
    text-align: center;
    color: #2b2727;
    font-size: 16px;
}
.modal-cookie-link {
    color: #fdfbfe;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    background: #0e0b14;
    border-radius: 50px;
    font-family: geometria-bold, sans-serif;
    font-weight: 700;
    margin-right: 10px;
}
.modal-cookie-button {
    width: 150px;
    height: 50px;
    color: #fdfbfe;
    font-family: geometria-bold, sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg, #ffbe41 0%, #da5b00 100%);
    box-shadow: 0 0 50px rgba(255, 184, 0, .25);
    border-radius: 100px;
}
.modal-cookie-button:hover {
    cursor: pointer;
}
.tabs__content {
    display: none;
    /* padding: 50px 90px; */
}
.tabs__content.active {
    display: block;
}
.header-user {
    color: #fdfbfe;
    transition: all .3s;
    background-color: transparent;
}
.header-user:hover {
    color: #ffbe41;
}
.hero__nav {
    display: none;
}
.hero__nav-wrap {
    /* flex-wrap: wrap; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}

.modal-sign-wrap::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: transparent;
}
.soc ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.soc li {
    margin-right: 10px;
}
.soc li:last-child {
    margin-right: 0;
}
.soc img {
    height: 25px;
    width: 25px;
}
.footer .site-info {
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.footer {
    padding: 20px 0;
}
.footer .container {
    position: relative;
}
.age {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}


/* adaptive */


@media screen and (max-width:768px) {
    .soon-games-block {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .play-block {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    .soon-games-block {
        grid-template-columns: 1fr 1fr;
    }

}@media screen and (max-width:740px) {
    .play-img {
        width: 50%;
    }

    .play-desc {
        font-size: 3vw;
    }

    .play-title {
        font-size: 4vw;
    }
    
    .mission-text {
        flex-basis: 100%;
    }
   

}@media screen and (max-width:400px) {
    .play-block {
        grid-template-columns: 1fr;
    }

}@media screen and (max-width:600px) {
    .soon-games-block {
        grid-template-columns: 1fr;
    }

    .soon-games__img {
        width: 60%;
    }

    .container {
        padding: 20px;
    }
}


